.Footer {
  position: relative;
  z-index: 1;
  height: 25vh;
  background-image: linear-gradient(
    to right,
    rgb(101, 217, 221),
    rgb(57, 75, 237)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#input-url {
  line-height: 50px;
  width: 900px;
  border-radius: 5px;
}

.shorten-button {
  line-height: 50px;
  margin-left: 20px;
  width: 200px;
  border-radius: 20px;
  font-size: 25px;
  background: #1b3987;
  color: white;
  font-family: inherit;
}

.shorten-button:hover {
  background-color: rgb(244, 153, 18);
  border: none;
  color: black;
}

#output {
  margin-top: 15px;
  background-color: aliceblue;
  width: max-content;
  padding: 10px;
  font-family: "ProximaNova Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
}

#output-button {
  margin-top: 15px;
  background-color: orange;
  border: none;
  width: 10vh;
  padding: 10px;
  font-family: "ProximaNova Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
}

#clear {
  display: flex;
  flex-direction: row;
}
