.Body {
  height: 616px;
  border: solid 0.1px;
  background-color: #dadbe1;
}

.Body h1 {
  color: #252628;
  font-family: "ProximaNova ExtraBold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 56px;
  margin: 220px 0px 0px 30px;
}

.Body h3 {
  color: #56575b;
  font-family: "ProximaNova Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 30px 0px 0px 30px;
}

.Body #Logo {
  float: right;
  margin-top: -100px;
  width: 300px;
  height: 300px;
}
